<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dragon.myreadhub">
    <!-- 加入应用需要的权限 -->
    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 检测wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 为了获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/MyReadHub"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".activity.LayoutTestActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".activity.AboutActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".activity.NotificationActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".activity.SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.MainActivity"
                android:screenOrientation="portrait">
        </activity>

        <!-- Bugly异常上报和升级 -->
        <activity
                android:name="com.tencent.bugly.beta.ui.BetaActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|locale"
                android:theme="@android:style/Theme.Translucent" />

        <provider
                android:name=".provider.BuglyProvider"
                android:authorities="${applicationId}.fileProvider"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/bugly_provider_paths"
                    tools:replace="name,resource" />
        </provider>

    </application>

</manifest>